# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-merge-conflict
      - id: debug-statements
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.15.4
    hooks:
    - id: ruff-check
      args:
      - --fix
      - --exit-non-zero-on-fix
    - id: ruff-format
  - repo: https://github.com/asottile/blacken-docs
    rev: 1.20.0
    hooks:
      - id: blacken-docs
  - repo: https://github.com/pappasam/toml-sort
    rev: v0.24.3
    hooks:
    - id: toml-sort-fix
  - repo: meta
    hooks:
      - id: check-hooks-apply
      - id: check-useless-excludes
  - repo: https://github.com/crate-ci/typos
    rev: v1.44.0
    hooks:
    - id: typos
      args: []
      require_serial: true
      pass_filenames: false
ci:
  autoupdate_schedule: quarterly
