include AUTHORS
include COPYING
include README.rst
include NEWS.rst
include include/*.h
recursive-include examples *.py
recursive-include test *.py
recursive-include test/data/gammu-dummy *
include test/data/*.*
include examples/data/*.jpg
