name: Test

on: [push, pull_request]

permissions:
  contents: read

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: 
        - ubuntu-latest
        - windows-latest
        python-version: 
          - "3.10"
          - "3.11"
          - "3.12"
          - "3.13"
          - "3.14"
    env:
      # renovate: datasource=github-releases depName=gammu/gammu versioning=loose
      GAMMU_VERSION: 1.43.2
    name: ${{ matrix.os }}, Python ${{ matrix.python-version }}

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6.2.0
        with:
          python-version: ${{ matrix.python-version }}
      - uses: astral-sh/setup-uv@eac588ad8def6316056a12d4907a9d4d84ff7a3b # v7.3.0
      - name: apt
        if: ${{ matrix.os == 'ubuntu-latest' }}
        run: |
          sudo apt-get update
          sudo apt-get install -y libbluetooth-dev libusb-1.0-0-dev libgudev-1.0-dev unixodbc-dev libdbi-dev libdbd-sqlite3 libdbd-mysql libdbd-pgsql cmake cmake-data
      - name: Install gammu
        if: ${{ matrix.os == 'ubuntu-latest' }}
        run: |
          mkdir _gammu
          cd _gammu
          curl -LsSf -o gammu.tar.zst "https://github.com/gammu/gammu/releases/download/$GAMMU_VERSION/Gammu-$GAMMU_VERSION.tar.zst"
          tar xf gammu.tar.zst
          cd Gammu-*
          ./configure --prefix=/usr
          make
          sudo make install
      - name: Install Gammu
        if: ${{ matrix.os == 'windows-latest' }}
        run: |
          C:/msys64/usr/bin/wget.exe -O gammu-setup.exe https://github.com/gammu/gammu/releases/download/$Env:GAMMU_VERSION/Gammu-$Env:GAMMU_VERSION-Windows-Minimal.exe
          ./gammu-setup.exe /S /D=C:/Gammu
      - name: Install
        run: uv sync --all-extras --dev
      - name: Test
        run: uv run pytest --cov
      - name: Examples
        if: ${{ matrix.os == 'ubuntu-latest' }}
        run: |
          source .venv/bin/activate
          ./examples/run-dummy.sh
      - uses: codecov/codecov-action@671740ac38dd9b0130fbe1cec585b89eea48d3de # v5.5.2
        with:
          name: ${{ matrix.os }}, Python ${{ matrix.python-version }}
