name: Test

on: [push, pull_request]

permissions:
  contents: read

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: 
        - ubuntu-latest
        - windows-latest
        python-version: 
          - "3.10"
          - "3.11"
          - "3.12"
          - "3.13"
          - "3.14"
    name: ${{ matrix.os }}, Python ${{ matrix.python-version }}

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6.2.0
        with:
          python-version: ${{ matrix.python-version }}
      - uses: astral-sh/setup-uv@eac588ad8def6316056a12d4907a9d4d84ff7a3b # v7.3.0
      - uses: ./.github/actions/install-gammu
      - name: Install
        run: uv sync --all-extras --dev
      - name: Test
        run: uv run pytest --cov
      - name: Examples
        if: ${{ matrix.os == 'ubuntu-latest' }}
        run: |
          source .venv/bin/activate
          ./examples/run-dummy.sh
      - uses: codecov/codecov-action@671740ac38dd9b0130fbe1cec585b89eea48d3de # v5.5.2
        with:
          name: ${{ matrix.os }}, Python ${{ matrix.python-version }}
